.doantion-card-wrapper {
  display: none;
  gap: 20px;
  padding: 30px 50px;
  flex-wrap: wrap;
  &.dn-visible {
    display: flex;
  }
  .container {
    height: fit-content;
  }

  .card {
    background-color: #c1e8ed;
    width: 250px;
    height: 350px;
    padding: 10px;
    border: 1px solid #eee;

    &::before {
      display: none;
    }
  }
  .dn-prouduct-image {
    width: 250px;
    height: 250px;
  }
  .inner-card {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    height: 330px;
  }

  .heart {
    cursor: pointer;
    height: 35px;
    width: 35px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #beb4aa;
    border-radius: 50%;
    background-color: #eee;
  }

  .btn:focus {
    color: #fff;
    background-color: #025ce2;
    border-color: #0257d5;
    box-shadow: none;
  }
  .dn-product-title {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .dn-product-address {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .dn-product-contact {
    margin: 5px 0 0 0;
  }
  .dn-product-image{
      width: 150px;
      height: 150px;
      display: block;
      margin: 0 auto 2px auto;
  }
}
