@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import "userProfile";
@import "donationForm";
@import "commonInputs";
@import "updateProfile";
body{
    margin: 0;
    padding: 0;
}

header{
    background-color: #E8F9FD;
    padding: 15px 10px;
}

 .dn-search{
  width: 60%;
  margin: auto;
}
/*
.dn-user{
  flex-grow: 1;
} */

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 40%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  /* width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.btn-primary{
  padding: 8px 24px;
  margin: 5px;
  font-size: 13px;
  letter-spacing: .3px;
  background-color: #79DAE8;
  color: #2155CD;
  border: 0px;
  border-radius: 8px;
  cursor: pointer;
}
.btn-primary:hover{
  background-color: #0AA1DD;
}

.btn-secondary{
  cursor: pointer;
  padding: 8px 24px;
  margin: 5px;
  font-size: 13px;
  letter-spacing: .3px;
  background-color: #2155CD;
  color: #E8F9FD;
  border: 0px;
  border-radius: 8px;
}
.btn-secondary:hover{
  background-color: #103e62;
}