@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
.dn-user-profile {
  margin-left: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  cursor: pointer;
}

.dn-user-profile.dn-hidden {
  display: none !important;
}

.dn-dropdown-icon {
  padding-top: 5px;
}

.dn-user-image {
  width: 35x;
  height: 35px;
  border-radius: 50%;
}

.dn-user-info {
  display: none;
  z-index: 1000;
  right: 0;
  top: 66px;
  width: 288px;
  position: absolute;
  background: #fff;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12), 0 6px 6px 0 rgba(0, 0, 0, 0.24);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12), 0 6px 6px 0 rgba(0, 0, 0, 0.24);
  border-radius: 4px;
}

.dn-user-info .dn-profile {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dn-user-info .dn-profile .dn-profile-photo img {
  width: 56px;
  height: 56px;
}

.dn-user-info .dn-profile .dn-user-intro {
  padding: 0 0 0 12px;
}

.dn-user-info .dn-profile .dn-user-intro .hello {
  margin: 0 0 4px;
}

.dn-user-info .dn-profile .dn-user-intro .user-name {
  font-weight: 500;
  margin: 0 0 4px;
  font-size: 20px;
  line-height: 24px;
}

.dn-user-info .dn-profile .dn-user-intro .edit-profile {
  cursor: pointer;
  font-size: 14px;
  color: #002f34;
  text-decoration: underline;
}

.dn-user-info .dn-profile-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
  text-decoration: none;
  color: #002f34;
  height: 48px;
  cursor: pointer;
  font-size: 16px;
  border-top: 1px solid rgba(14, 4, 5, 0.2);
}

.dn-user-info .dn-profile-options:hover {
  background-color: #cbc9c9;
}

.dn-user-info .dn-profile-options .logout-logo {
  padding: 2px 0  16px;
}

.dn-donate-now {
  margin-left: 30px;
}

.dn-user-coins {
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: inset 0px -3px 7px #c1c1c1;
          box-shadow: inset 0px -3px 7px #c1c1c1;
  padding: 4px;
  min-width: 91px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 26px;
  background: white;
}

.dn-user-coins img {
  height: 35px;
  width: 35px;
}

label {
  color: #00a49f;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.dn-hero-container img {
  height: 50vh;
  width: 100%;
}

.dn-header {
  text-align: center;
  margin: auto;
}

.dn-form-container {
  width: calc(100% - 100px);
  margin: auto;
  padding: 20px 30px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  border: 1px solid rgba(14, 4, 5, 0.2);
  border-radius: 4px;
}

.dn-category-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.dn-category-container .dn-category {
  width: 100%;
}

.dn-category-container > div {
  margin-bottom: 28px;
}

.dn-images-container input {
  display: none;
}

.dn-images-container label {
  cursor: pointer;
}

.dn-images-container #image-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
}

.dn-images-container .dn-image-selector {
  text-align: center;
  padding: 5px 5px;
  border: 2px solid;
  border-radius: 7px;
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
}

.dn-images-container .dn-image-selector .dn-image-label .dn-input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.dn-images-container .dn-image-selector .dn-image-label .dn-input-wrapper .dn-input-title {
  margin-bottom: 8px;
}

.dn-images-container .dn-image-selector .dn-postupload-wrapper {
  display: none;
}

.dn-images-container .dn-image-selector .dn-postupload-wrapper .dn-postupload-buttons {
  display: none;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2px;
  background: rgba(0, 0, 0, 0.2);
}

.dn-images-container .dn-image-selector .dn-postupload-wrapper .dn-postupload-buttons button {
  cursor: pointer;
}

.dn-images-container .dn-image-selector .dn-postupload-wrapper:hover .dn-postupload-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dn-submit-container button {
  border: 3px solid;
  margin: 10px;
  height: 50px;
  width: 100px;
}

.dn-dropdown label {
  color: #00a49f;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.dn-dropdown .dn-dropdown-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 4px;
  border-style: none;
  margin: 4px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  background: #fff;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 47, 52, 0.64);
          box-shadow: inset 0 0 0 1px rgba(0, 47, 52, 0.64);
}

.dn-dropdown select {
  padding-right: 80px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  color: #002f34;
  display: block;
  font-size: 16px;
  height: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  padding-left: 12px;
  width: 100%;
}

.dn-dropdown select:focus, .dn-dropdown select:active {
  -webkit-box-shadow: inset 0 0 0 3px #00a49f;
          box-shadow: inset 0 0 0 3px #00a49f;
}

.dn-dropdown .dn-dropdown-icons {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 16px;
  margin-right: 12px;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.dn-dropdown .dn-dropdown-icons .chevron-down-icon {
  margin-left: 8px;
  z-index: 2;
}

.text-area-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 4px;
  border-style: none;
  margin: 4px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  background: #fff;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 47, 52, 0.64);
          box-shadow: inset 0 0 0 1px rgba(0, 47, 52, 0.64);
}

.text-area-container textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  color: #002f34;
  display: block;
  font-size: 16px;
  height: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  width: 90%;
  padding: 12px;
  resize: none;
  height: 96px;
}

.text-area-container:active, .text-area-container:focus-within {
  -webkit-box-shadow: inset 0 0 0 3px #00a49f;
          box-shadow: inset 0 0 0 3px #00a49f;
}

.text-area-container.dn-error {
  -webkit-box-shadow: inset 0 0 0 3px #ff2800;
          box-shadow: inset 0 0 0 3px #ff2800;
}

.text-area-container .dn-icons {
  margin: 5px;
}

.dn-input-container {
  position: relative;
}

.dn-input-container .dn-input {
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 47, 52, 0.64);
          box-shadow: inset 0 0 0 1px rgba(0, 47, 52, 0.64);
}

.dn-input-container .dn-input div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border-radius: 4px;
  border-style: none;
  margin: 4px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.dn-input-container .dn-input div input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  color: #002f34;
  display: block;
  font-size: 16px;
  height: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  padding-left: 12px;
  padding-right: 12px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.dn-input-container .dn-input div .dn-icons {
  margin: 5px;
}

.dn-input-container .dn-input:active, .dn-input-container .dn-input:focus-within {
  -webkit-box-shadow: inset 0 0 0 3px #00a49f;
          box-shadow: inset 0 0 0 3px #00a49f;
}

.dn-input-container .dn-input.dn-error {
  -webkit-box-shadow: inset 0 0 0 3px #ff2800;
          box-shadow: inset 0 0 0 3px #ff2800;
}

.green-tick-icon {
  display: none !important;
}

.green-tick-icon.dn-visible {
  display: block !important;
}

.dn-disable-input {
  cursor: not-allowed;
  background-color: #869099 !important;
}

.dn-profile-update-main .wrapper {
  padding: 30px 50px;
  border: 1px solid #ddd;
  border-radius: 15px;
  margin: 10px auto;
  max-width: 600px;
}

.dn-profile-update-main h4 {
  letter-spacing: -1px;
  font-weight: 400;
}

.dn-profile-update-main .img {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  -o-object-fit: cover;
     object-fit: cover;
}

.dn-profile-update-main #img-section p, .dn-profile-update-main #deactivate p {
  font-size: 12px;
  color: #777;
  margin-bottom: 10px;
  text-align: justify;
}

.dn-profile-update-main #img-section b, .dn-profile-update-main #img-section button, .dn-profile-update-main #deactivate b {
  font-size: 14px;
}

.dn-profile-update-main label {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 500;
  color: #777;
  padding-left: 3px;
}

.dn-profile-update-main .form-control {
  border-radius: 10px;
}

.dn-profile-update-main input[placeholder], .dn-profile-update-main textarea {
  font-weight: 500;
}

.dn-profile-update-main .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1.5px solid #0779e4;
}

.dn-profile-update-main select {
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
  height: 40px;
  padding: 5px 10px;
  /* -webkit-appearance: none; */
}

.dn-profile-update-main select:focus {
  outline: none;
}

.dn-profile-update-main .button {
  background-color: #fff;
  color: #0779e4;
}

.dn-profile-update-main .button:hover {
  background-color: #0779e4;
  color: #fff;
}

.dn-profile-update-main .btn-primary {
  background-color: #0779e4;
}

.dn-profile-update-main .danger {
  background-color: #fff;
  color: #e20404;
  border: 1px solid #ddd;
}

.dn-profile-update-main .danger:hover {
  background-color: #e20404;
  color: #fff;
}

@media (max-width: 576px) {
  .dn-profile-update-main .wrapper {
    padding: 25px 20px;
  }
  .dn-profile-update-main #deactivate {
    line-height: 18px;
  }
}

.dn-profile-update-main textarea {
  resize: none;
}

.doantion-card-wrapper {
  display: none;
  gap: 20px;
  padding: 30px 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.doantion-card-wrapper.dn-visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.doantion-card-wrapper .container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.doantion-card-wrapper .card {
  background-color: #c1e8ed;
  width: 250px;
  height: 350px;
  padding: 10px;
  border: 1px solid #eee;
}

.doantion-card-wrapper .card::before {
  display: none;
}

.doantion-card-wrapper .dn-prouduct-image {
  width: 250px;
  height: 250px;
}

.doantion-card-wrapper .inner-card {
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  height: 330px;
}

.doantion-card-wrapper .heart {
  cursor: pointer;
  height: 35px;
  width: 35px;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #beb4aa;
  border-radius: 50%;
  background-color: #eee;
}

.doantion-card-wrapper .btn:focus {
  color: #fff;
  background-color: #025ce2;
  border-color: #0257d5;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.doantion-card-wrapper .dn-product-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.doantion-card-wrapper .dn-product-address {
  overflow: hidden;
  text-overflow: ellipsis;
}

.doantion-card-wrapper .dn-product-contact {
  margin: 5px 0 0 0;
}

.doantion-card-wrapper .dn-product-image {
  width: 150px;
  height: 150px;
  display: block;
  margin: 0 auto 2px auto;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(255, 255, 255, 0.5) !important;
  opacity: 0.5 !important;
}

.desciption-section {
  margin-top: 50px;
  margin-bottom: 70px;
  padding: 0 18px;
}

.desciption-section .description-left {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.desciption-section .description-right {
  width: 30%;
  margin-left: 60px;
  margin-top: 15px;
}

.desciption-section .description-right button {
  padding: 20px 30px;
  color: #002f34;
  border-radius: 4px;
  border: 2px solid #002f34;
  padding: 0 10px;
  width: 70%;
  font-size: 16px;
  height: 48px;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.desciption-section .description-right button:hover {
  border-width: 5px;
  padding: 0 7px;
}

.desciption-section .container {
  background: white;
  margin: 16px 0 30px 0;
  padding: 16px 24px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 3px #000000;
          box-shadow: 0px 0px 3px #000000;
}

.desciption-section .dn-title {
  font-size: 50px;
  font-weight: bold;
}

.desciption-section .dn-category {
  font-size: 18px;
  color: gray;
  font-family: monospace;
}

.desciption-section .dn-overview-container .dn-overview-title {
  color: #406367;
  font-size: 24px;
  opacity: 0.8;
  margin: 0;
}

.desciption-section .dn-overview-container .dn-overview-border {
  margin: 16px -24px 14px;
  border-bottom: 1px solid rgba(14, 4, 5, 0.2);
}

.desciption-section .dn-overview-container .overview-detail-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.desciption-section .dn-overview-container .overview-detail-container .dn-detail {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.33333% - 5.33333px);
          flex: 0 0 calc(33.33333% - 5.33333px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}

.desciption-section .dn-overview-container .overview-detail-container .dn-detail .dn-detail-info {
  padding-left: 12px;
}

.desciption-section .dn-overview-container .overview-detail-container .dn-detail .dn-detail-info .dn-info-title {
  font-size: 14px;
  line-height: 20px;
  color: #002f34;
  opacity: 0.74;
}

.desciption-section .dn-overview-container .overview-detail-container .dn-detail .dn-detail-info .dn-info-value {
  font-size: 18px;
  font-weight: 700;
  color: #002f34;
  line-height: 1.33;
}

.groupchat-container {
  z-index: 200;
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
}

.groupchat-container .dn-chat-opener {
  float: right;
  cursor: pointer;
  background-color: #425b76;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px, rgba(0, 0, 0, 0.2) 0px 2px 24px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px, rgba(0, 0, 0, 0.2) 0px 2px 24px;
  border: none;
  -webkit-transition: -webkit-box-shadow 150ms ease-in-out 0s;
  transition: -webkit-box-shadow 150ms ease-in-out 0s;
  transition: box-shadow 150ms ease-in-out 0s;
  transition: box-shadow 150ms ease-in-out 0s, -webkit-box-shadow 150ms ease-in-out 0s;
  position: relative;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.groupchat-container .dn-chat-opener:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px, black 0px 4px 28px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px, black 0px 4px 28px;
}

.groupchat-container .dn-chat-opener .dn-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32px;
  height: 30px;
}

.groupchat-container .dn-chat-opener .dn-icon.dn-close-icon {
  top: 58%;
  left: 58%;
}

.groupchat-container .dn-chat-opener .dn-icon-opener.dn-hide,
.groupchat-container .dn-chat-opener .dn-close-icon.dn-hide {
  display: none;
}

.groupchat-container .dn-chat-opener.dn-hide {
  display: none;
}

.groupchat-container .dn-chat-wrapper {
  position: relative;
  width: 376px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  height: 530px;
  background: white;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 20px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 20px;
  position: relative;
  width: 396px;
  -webkit-transition: bottom 0.25s ease-in-out 0s;
  transition: bottom 0.25s ease-in-out 0s;
  margin: 0 0 10px 24px;
}

.groupchat-container .dn-chat-wrapper.dn-hide {
  display: none;
}

.groupchat-container .dn-chat-wrapper .message.receivers-msg .user-text-container {
  background-color: #eaf0f6;
  color: #425b76;
  border-radius: 0px 8px 8px;
}

.groupchat-container .dn-chat-wrapper .message.sender-msg .user-image {
  display: none;
}

.groupchat-container .dn-chat-wrapper .message.sender-msg > div {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.groupchat-container .dn-chat-wrapper .message.sender-msg .user-text-container {
  border-radius: 8px 0px 8px 8px;
  border-color: rgba(0, 0, 0, 0.2);
  background-color: #425b76;
  margin-right: 20px;
  color: white;
}

.groupchat-container .dn-chat-wrapper .message:first-of-type {
  display: none;
}

.groupchat-container .dn-chat-wrapper .chat-header {
  background-color: #425b76;
  height: 68px;
  border-radius: 8px 8px 0px 0px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
}

.groupchat-container .dn-chat-wrapper .chat-messages {
  min-height: 75%;
  max-height: 75%;
  overflow: auto;
}

.groupchat-container .dn-chat-wrapper .user-text-container {
  margin-top: 5px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  min-height: 32px;
  word-break: break-word;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0px;
  border-color: #cbd6e2;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 284px;
  padding: 5px 10px;
}

.groupchat-container .dn-chat-wrapper .user-text-container .user-text {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.groupchat-container .dn-chat-wrapper .user-text-container .user-msg-time {
  display: block;
  font-size: 12px;
  line-height: 18px;
  color: #7c98b6;
  margin-left: auto;
  margin-right: 14px;
}

.groupchat-container .dn-chat-wrapper .chat-input-container {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  max-width: 100%;
  background-color: #fff;
  border-top: 2px solid #f2f5f8;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.groupchat-container .dn-chat-wrapper .chat-input-container .chat-input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.groupchat-container .dn-chat-wrapper .chat-input-container .chat-input-wrapper .chat-input {
  padding-left: 10px;
  padding-right: 15px;
  width: 100%;
  border: none;
  height: 30px;
}

.groupchat-container .dn-chat-wrapper .chat-input-container .chat-input-wrapper .chat-input:focus-visible, .groupchat-container .dn-chat-wrapper .chat-input-container .chat-input-wrapper .chat-input:active {
  border: none;
  outline: none;
}

.groupchat-container .dn-chat-wrapper .chat-input-container .chat-input-wrapper .send-msg-btn {
  cursor: pointer;
  padding: 10px;
}

.groupchat-container .dn-chat-wrapper .chat-input-container .chat-input-wrapper .send-msg-btn.dn-disable {
  cursor: not-allowed;
}

body {
  background-color: #f4f7f6;
  margin-top: 20px;
}

.container {
  margin-top: 20px;
}

.card {
  background: #fff;
  -webkit-transition: .5s;
  transition: .5s;
  border: 0;
  margin-bottom: 30px;
  border-radius: .55rem;
  position: relative;
  width: 100%;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.chat-app .people-list {
  width: 280px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px;
  z-index: 7;
}

.chat-app .chat {
  margin-left: 280px;
  border-left: 1px solid #eaeaea;
}

.people-list {
  -webkit-transition: .5s;
  transition: .5s;
}

.people-list .chat-list li {
  padding: 10px 15px;
  list-style: none;
  border-radius: 3px;
}

.people-list .chat-list li:hover {
  background: #efefef;
  cursor: pointer;
}

.people-list .chat-list li.active {
  background: #a9a6a6;
}

.people-list .chat-list li .name {
  font-size: 15px;
}

.people-list .chat-list img {
  width: 45px;
  border-radius: 50%;
}

.people-list img {
  float: left;
  border-radius: 50%;
}

.people-list .about {
  float: left;
  padding-left: 8px;
}

.people-list .status {
  color: #999;
  font-size: 13px;
}

.chat .chat-header {
  padding: 15px 20px;
  border-bottom: 2px solid #f4f7f6;
}

.chat .chat-header img {
  float: left;
  border-radius: 40px;
  width: 40px;
}

.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
}

.chat .chat-history {
  padding: 20px;
  border-bottom: 2px solid #fff;
  height: calc(100vh - 200px);
  max-height: calc(100vh - 200px);
  overflow: auto;
}

.chat .chat-history ul {
  padding: 0;
}

.chat .chat-history ul li {
  list-style: none;
  margin-bottom: 30px;
}

.chat .chat-history ul li:last-child {
  margin-bottom: 0px;
}

.chat .chat-history .message-data {
  margin-bottom: 15px;
}

.chat .chat-history .message-data img {
  border-radius: 40px;
  width: 40px;
}

.chat .chat-history .message-data-time {
  color: #434651;
  padding-left: 6px;
}

.chat .chat-history .message {
  color: #444;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  display: inline-block;
  position: relative;
}

.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

.chat .chat-history .my-message {
  background: #efefef;
}

.chat .chat-history .my-message:after {
  bottom: 100%;
  left: 30px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #efefef;
  border-width: 10px;
  margin-left: -10px;
}

.chat .chat-history .other-message {
  background: #e8f1f3;
  text-align: right;
}

.chat .chat-history .other-message:after {
  border-bottom-color: #e8f1f3;
  left: 93%;
}

.chat .chat-message {
  padding: 20px;
}

.online,
.offline,
.me {
  margin-right: 2px;
  font-size: 8px;
  vertical-align: middle;
}

.online {
  color: #86c541;
}

.offline {
  color: #e47297;
}

.me {
  color: #1d8ecd;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

@media only screen and (max-width: 767px) {
  .chat-app .people-list {
    height: 465px;
    width: 100%;
    overflow-x: auto;
    background: #fff;
    left: -400px;
    display: none;
  }
  .chat-app .people-list.open {
    left: 0;
  }
  .chat-app .chat {
    margin: 0;
  }
  .chat-app .chat .chat-header {
    border-radius: 0.55rem 0.55rem 0 0;
  }
  .chat-app .chat-history {
    height: 300px;
    overflow-x: auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .chat-app .chat-list {
    height: 650px;
    overflow-x: auto;
  }
  .chat-app .chat-history {
    height: 600px;
    overflow-x: auto;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .chat-app .chat-list {
    height: 480px;
    overflow-x: auto;
  }
  .chat-app .chat-history {
    height: calc(100vh - 350px);
    overflow-x: auto;
  }
}

.msg-input.error {
  border-color: red;
}

.chat-template-container, .chat-user-template-container {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.my-donation-body {
  background-image: linear-gradient(45deg, #7175da, #9790F2);
  font-family: 'Muli', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
}

.donation {
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  margin: 20px;
  overflow: hidden;
  width: 700px;
}

.donation h6 {
  opacity: 0.6;
  margin: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.donation h2 {
  letter-spacing: 1px;
  margin: 10px 0;
}

.donation-preview {
  background-color: #2A265F;
  color: #fff;
  padding: 30px;
  max-width: 250px;
}

.donation-info {
  padding: 30px;
  position: relative;
  width: 100%;
}

.btn-container {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.btn-container .btn {
  border: 0;
  border-radius: 50px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 16px;
  padding: 12px 25px;
  letter-spacing: 1px;
  cursor: pointer;
}

.btn-container .btn.btn-edit, .btn-container .btn.btn-cancel {
  background-color: #2A265F;
}

.btn-container .btn.btn-delete, .btn-container .btn.btn-delete-confirm {
  background-color: #f21717;
}

.donation-image-container {
  margin: 10px 10px 10px 0;
  border-radius: 10px;
  height: 150px;
  width: 150px;
  background-color: white;
}

.donation-image-container .donation-image {
  padding: 15px 10px 10px 15px;
  height: 140px;
  width: 140px;
}

.dn-hidden {
  display: none;
}

.confirmation-modal-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.confirmation-modal-container .confirmation-modal {
  background: white;
  height: 170px;
  width: 523px;
  position: absolute;
  top: 38%;
  left: 35%;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  overflow: hidden;
}

.confirmation-modal-container .confirmation-modal .heading {
  padding: 10px 8px;
  font-weight: bold;
  background-color: #f6f7f9;
  border-bottom: 1px solid #e5e5e5;
}

.confirmation-modal-container .confirmation-modal .content {
  font-size: 18px;
  padding: 10px 10px;
  margin: 0;
  color: #555;
  display: inline-block;
}

.delete-alert {
  position: fixed !important;
  right: 10px;
  bottom: 10px;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.delete-alert.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.delete-alert.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

@media screen and (max-width: 480px) {
  .social-panel-container.visible {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  .floating-btn {
    right: 10px;
  }
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #E8F9FD;
  padding: 15px 10px;
}

.dn-search {
  width: 60%;
  margin: auto;
}

.dn-search input {
  height: 36px;
}

/*
.dn-user{
  flex-grow: 1;
} */
.search {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.searchTerm {
  width: 40%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus {
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.close-btn {
  background: white;
  width: 40px;
  height: 36px;
  border: 3px solid #00B4CC;
  text-align: center;
  border-left: none;
  line-height: 30px;
}

.close-btn i {
  cursor: pointer;
  color: white;
  background: black;
  border-radius: 50%;
  padding: 2px 4px;
  visibility: hidden;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  /* width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.btn-primary {
  padding: 8px 24px;
  margin: 5px;
  font-size: 13px;
  letter-spacing: .3px;
  background-color: #79DAE8;
  color: #2155CD;
  border: 0px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0AA1DD;
}

.btn-secondary {
  cursor: pointer;
  padding: 8px 24px;
  margin: 5px;
  font-size: 13px;
  letter-spacing: .3px;
  background-color: #2155CD;
  color: #E8F9FD;
  border: 0px;
  border-radius: 8px;
}

.btn-secondary:hover {
  background-color: #103e62;
}
/*# sourceMappingURL=main.css.map */