.carousel-control-prev,
.carousel-control-next {
  &:hover {
    background-color: rgba(255, 255, 255, 0.5) !important;
    opacity: 0.5 !important;
  }
}
.desciption-section {
  margin-top: 50px;
  margin-bottom: 70px;
  padding: 0 18px;
  .description-left {
    flex-grow: 1;
  }
  .description-right {
    width: 30%;
    margin-left: 60px;
    margin-top: 15px;
    button{
      padding: 20px 30px;
      color: #002f34;
      border-radius: 4px;
      border: 2px solid #002f34;
      padding: 0 10px;
      width: 70%;
      font-size: 16px;
      height: 48px;
      cursor: pointer;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      &:hover{
        border-width: 5px;
        padding: 0 7px;
      }
    }
  }
  .container {
    background: white;
    margin: 16px 0 30px 0;
    padding: 16px 24px;
    border-radius: 4px;
    box-shadow: 0px 0px 3px #000000;
    &.dn-title-container {
      display: flex;
      align-items: center;
      .left-side {
        padding-right: 16px;
        margin-right: 16px;
        border-right: 4px solid rgba(14, 4, 5, 0.2);
      }
      .right-side {
        display: flex;
        align-items: center;
        .dn-required-coins {
          gap: 5px;
          align-items: center;
          display: flex;
          box-shadow: inset 0px -3px 7px #c1c1c1;
          padding: 4px 8px;
          height: -moz-fit-content;
          height: fit-content;
          border-radius: 26px;
          background: white;
          font-size: 16px;
          margin-left: 24px;
        }
        img {
          width: 24px;
        }

      }
    }
  }
  .dn-title {
    font-size: 50px;
    font-weight: bold;
  }
  .dn-category {
    font-size: 18px;
    color: gray;
    font-family: monospace;
  }

  .dn-overview-container {
    .dn-overview-title {
      color: #406367;
      font-size: 24px;
      opacity: 0.8;
      margin: 0;
    }
    .dn-overview-border {
      margin: 16px -24px 14px;
      border-bottom: 1px solid rgba(14, 4, 5, 0.2);
    }

    .overview-detail-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .dn-detail {
        flex: 0 0 calc(33.33333% - 5.33333px);
        display: flex;
        margin: 10px 0;
        .dn-detail-info {
          padding-left: 12px;
          .dn-info-title {
            font-size: 14px;
            line-height: 20px;
            color: #002f34;
            opacity: 0.74;
          }
          .dn-info-value {
            font-size: 18px;
            font-weight: 700;
            color: #002f34;
            line-height: 1.33;
          }
        }
      }
    }
  }
}
