<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script>
	function redirectToHome() {
		window.location.href= BASE_FE_URL;
	}
</script>
<div  id="donation-verification-success-modal" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
					<i class="material-icons">&#xE876;</i>
				</div>				
				<h4 class="modal-title">Verification Done!</h4>	
			</div>
			<div class="modal-body">
				<p class="text-center">Your Updated Daan Coins are: <span class="daan-coins"></span></p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-block dn-cursor-pointer" onclick="window.location.href='https://localhost'">OK</button>
			</div>
		</div>
	</div>
</div> 
<div  id="donation-verification-error-modal" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box error-icon">
					<i class="material-icons">&#xE5CD;</i>
				</div>				
				<h4 class="modal-title">Verification Failed!</h4>	
			</div>
			<div class="modal-body">
				<p class="text-center js-error-msg"></p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-block dn-cursor-pointer" onclick="window.location.href='https://localhost'">OK</button>
			</div>
		</div>
	</div>
</div> 