<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div  id="donation-verification-success-modal" class="modal fade">
	<div class="modal-dialog modal-confirm">
		<div class="modal-content">
			<div class="modal-header">
				<div class="icon-box">
					<i class="material-icons">&#xE876;</i>
				</div>				
				<h4 class="modal-title">Verification Done!</h4>	
			</div>
			<div class="modal-body">
				<p class="text-center">Your Updated Daan Coins are:</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-success btn-block dn-cursor-pointer" onclick="$('#donation-verification-success-modal').hide();">OK</button>
			</div>
		</div>
	</div>
</div> 